.movieCardList {
  padding: 80px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieCardList__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 32px;
}

.movieCardList__error {
  text-align: center;
  line-height: 1.5;
  color: var(--error-color)
}

@media screen and (max-width: 800px) {
  .movieCardList {
    padding: 80px 30px 30px;
  }

  .movieCardList__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media screen and (max-width: 500px) {
  .movieCardList {
    padding: 50px 10px 80px;
  }

  .movieCardList__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }

  .movieCardList__btn {
    width: 240px;
  }
}
